In [61]:
# Imports 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Display full column widths to read schema descriptions
pd.options.display.max_colwidth = 200 

from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

In [2]:
# Read in data and convert to pandas dataframes 
df = pd.read_csv('sfpd-dispatch/sfpd_dispatch_data_subset.csv')
schema_df = pd.read_csv('sfpd-dispatch/sfpd_dispatch_schema.csv')
# Preview first 5 samples 
df.head()

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,number_of_alarms,unit_type,unit_sequence_in_call_dispatch,fire_prevention_district,supervisor_district,neighborhood_district,location,row_id,latitude,longitude
0,180243072,84,18010216,Medical Incident,2018-01-24,2018-01-24,2018-01-24 17:36:16.000000 UTC,2018-01-24 17:38:21.000000 UTC,2018-01-24 17:39:41.000000 UTC,2018-01-24 17:39:45.000000 UTC,...,1,MEDIC,1,7,1,NaN,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679
1,180240538,61,18010011,Medical Incident,2018-01-24,2018-01-23,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:31.000000 UTC,2018-01-24 07:05:45.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001
2,180240176,E22,18009959,Medical Incident,2018-01-24,2018-01-23,2018-01-24 02:04:21.000000 UTC,2018-01-24 02:05:37.000000 UTC,2018-01-24 02:06:04.000000 UTC,2018-01-24 02:07:26.000000 UTC,...,1,ENGINE,1,8,7,NaN,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540
3,180243588,E03,18010271,Alarms,2018-01-24,2018-01-24,2018-01-24 20:04:15.000000 UTC,2018-01-24 20:05:12.000000 UTC,2018-01-24 20:05:24.000000 UTC,2018-01-24 20:05:36.000000 UTC,...,1,ENGINE,1,4,2,NaN,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163
4,180243590,B03,18010272,Alarms,2018-01-24,2018-01-24,2018-01-24 20:03:08.000000 UTC,2018-01-24 20:05:36.000000 UTC,2018-01-24 20:05:57.000000 UTC,2018-01-24 20:06:56.000000 UTC,...,1,CHIEF,3,3,6,NaN,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089

In [11]:
# Make a copy of the dataframe (remove neighborhood district column while we're at it)
dfc = df.drop(['neighborhood_district'], axis = 1) 
time_columns = ['received_timestamp', 'entry_timestamp', 'dispatch_timestamp', 'response_timestamp', 'on_scene_timestamp', 
'transport_timestamp', 'hospital_timestamp', 'available_timestamp'] 
# Here we apply a lambda expression to each pandas column to remove the 'UTC', and then we use the to_datetime function in 
# pandas to convert the types to python Timestamps instead of strings. This allows us to perform new operations. 
for col in time_columns:
    dfc[col] = pd.to_datetime(dfc[col].astype(str).apply(lambda x: x[:-3]), format='%Y-%m-%d %H:%M:%S.%f')
dfc.head()

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,call_type_group,number_of_alarms,unit_type,unit_sequence_in_call_dispatch,fire_prevention_district,supervisor_district,location,row_id,latitude,longitude
0,180243072,84,18010216,Medical Incident,2018-01-24,2018-01-24,2018-01-24 17:36:16,2018-01-24 17:38:21,2018-01-24 17:39:41,2018-01-24 17:39:45,...,Non Life-threatening,1,MEDIC,1,7,1,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679
1,180240538,61,18010011,Medical Incident,2018-01-24,2018-01-23,2018-01-24 07:05:05,2018-01-24 07:05:05,2018-01-24 07:05:31,2018-01-24 07:05:45,...,Non Life-threatening,1,MEDIC,1,2,6,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001
2,180240176,E22,18009959,Medical Incident,2018-01-24,2018-01-23,2018-01-24 02:04:21,2018-01-24 02:05:37,2018-01-24 02:06:04,2018-01-24 02:07:26,...,Potentially Life-Threatening,1,ENGINE,1,8,7,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540
3,180243588,E03,18010271,Alarms,2018-01-24,2018-01-24,2018-01-24 20:04:15,2018-01-24 20:05:12,2018-01-24 20:05:24,2018-01-24 20:05:36,...,Alarm,1,ENGINE,1,4,2,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163
4,180243590,B03,18010272,Alarms,2018-01-24,2018-01-24,2018-01-24 20:03:08,2018-01-24 20:05:36,2018-01-24 20:05:57,2018-01-24 20:06:56,...,Alarm,1,CHIEF,3,3,6,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089

In [53]:
df2 = dfc[['call_type', 'received_timestamp', 'city', 'zipcode_of_incident']]

In [54]:
type(dfc['received_timestamp'][0])

pandas._libs.tslib.Timestamp

In [55]:
# df2['zipcode_of_incident'] = df2['zipcode_of_incident'].astype(str)
df2['hour'] = dfc['received_timestamp'].apply(lambda x: x.hour)
df2['day'] = dfc['received_timestamp'].apply(lambda x: x.dayofweek)

C:\Users\shami\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\shami\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [56]:
def assign_half(x): 
    if x < 12: 
        return 0 # night or early morning 
    return 1 

df2['day_half'] = df2['hour'].apply(assign_half)

C:\Users\shami\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [57]:
type(df2['zipcode_of_incident'][0])

numpy.int64

In [58]:
df2

,call_type,received_timestamp,city,zipcode_of_incident,hour,day,day_half
0,Medical Incident,2018-01-24 17:36:16,San Francisco,94121,17,2,1
1,Medical Incident,2018-01-24 07:05:05,San Francisco,94103,7,2,0
2,Medical Incident,2018-01-24 02:04:21,San Francisco,94122,2,2,0
3,Alarms,2018-01-24 20:04:15,San Francisco,94109,20,2,1
4,Alarms,2018-01-24 20:03:08,San Francisco,94107,20,2,1
5,Alarms,2018-01-24 21:18:56,San Francisco,94110,21,2,1
6,Structure Fire,2018-01-24 12:24:27,San Francisco,94102,12,2,1
7,Traffic Collision,2018-01-24 19:51:29,San Francisco,94103,19,2,1
8,Alarms,2018-01-24 22:26:22,San Francisco,94133,22,2,1
9,Medical Incident,2018-01-24 10:35:00,San Francisco,94134,10,2,0
10,Medical Incident,2018-01-24 12:53:39,San Francisco,94102,12,2,1
11,Medical Incident,2018-01-24 14:36:16,San Francisco,94111,14,2,1
12,Medical Incident,2018-01-24 17:56:16,San Francisco,94114,17,2,1
13,Medical Incident,2018-01-24 16:48:13,San Francisco,94103,16,2,1
14,Medical Incident,2018-01-24 19:41:44,San Francisco,94110,19,2,1
15,Structure Fire,2018-01-24 00:19:30,San Francisco,94109,0,2,0
16,Medical Incident,2018-01-24 12:08:29,San Francisco,94103,12,2,1
17,Medical Incident,2018-01-24 14:54:21,San Francisco,94131,14,2,1
18,Medical Incident,2018-01-24 21:42:22,San Francisco,94117,21,2,1
19,Structure Fire,2018-01-24 12:24:27,San Francisco,94102,12,2,1
20,Medical Incident,2018-01-24 14:10:45,San Francisco,94103,14,2,1
21,Medical Incident,2018-01-24 10:40:14,San Francisco,94107,10,2,0
22,Medical Incident,2018-01-24 11:52:30,San Francisco,94117,11,2,0
23,Medical Incident,2018-01-24 14:51:27,San Francisco,94133,14,2,1
24,Medical Incident,2018-01-24 08:50:47,San Francisco,94102,8,2,0
25,Medical Incident,2018-01-24 15:31:54,San Francisco,94117,15,2,1
26,Medical Incident,2018-01-24 13:19:28,San Francisco,94102,13,2,1
27,Other,2018-01-24 19:07:16,San Francisco,94134,19,2,1
28,Medical Incident,2018-01-24 03:14:26,San Francisco,94110,3,2,0
29,Medical Incident,2018-01-24 11:59:40,San Francisco,94102,11,2,0
...,...,...,...,...,...,...,...
9970,Medical Incident,2018-01-13 15:51:50,San Francisco,94114,15,5,1
9971,Medical Incident,2018-01-13 04:07:51,San Francisco,94116,4,5,0
9972,Traffic Collision,2018-01-13 13:57:05,San Francisco,94134,13,5,1
9973,Medical Incident,2018-01-13 18:34:20,San Francisco,94102,18,5,1
9974,Medical Incident,2018-01-13 09:24:39,San Francisco,94112,9,5,0
9975,Medical Incident,2018-01-13 13:03:23,San Francisco,94107,13,5,1
9976,Medical Incident,2018-01-13 10:28:41,San Francisco,94158,10,5,0
9977,Medical Incident,2018-01-13 08:28:10,San Francisco,94133,8,5,0
9978,Medical Incident,2018-01-13 11:37:39,San Francisco,94124,11,5,0
9979,Medical Incident,2018-01-13 20:33:54,San Francisco,94115,20,5,1
9980,Structure Fire,2018-01-13 06:45:11,San Francisco,94103,6,5,0
9981,Medical Incident,2018-01-13 18:34:20,San Francisco,94102,18,5,1
9982,Traffic Collision,2018-01-13 02:52:48,San Francisco,94130,2,5,0
9983,Medical Incident,2018-01-13 14:07:21,San Francisco,94123,14,5,1
9984,Medical Incident,2018-01-13 20:46:37,San Francisco,94103,20,5,1
9985,Medical Incident,2018-01-13 18:29:44,San Francisco,94124,18,5,1
9986,Medical Incident,2018-01-13 14:14:17,San Francisco,94110,14,5,1
9987,Medical Incident,2018-01-13 07:28:39,San Francisco,94118,7,5,0
9988,Medical Incident,2018-01-13 12:41:29,San Francisco,94122,12,5,1
9989,Medical Incident,2018-01-13 11:09:14,San Francisco,94108,11,5,0
9990,Other,2018-01-13 07:21:40,San Francisco,94114,7,5,0
9991,Medical Incident,2018-01-13 02:44:30,San Francisco,94117,2,5,0
9992,Traffic Collision,2018-01-13 23:39:49,San Francisco,94103,23,5,1
9993,Medical Incident,2018-01-13 14:23:06,San Francisco,94110,14,5,1
9994,Medical Incident,2018-01-13 23:26:46,San Francisco,94116,23,5,1
9995,Medical Incident,2018-01-13 00:48:33,San Francisco,94110,0,5,0
9996,Medical Incident,2018-01-13 09:26:55,San Francisco,94109,9,5,0
9997,Medical Incident,2018-01-13 14:09:05,San Francisco,94103,14,5,1
9998,Water Rescue,2018-01-13 16:12:05,San Francisco,94123,16,5,1
9999,Medical Incident,2018-01-13 13:17:25,San Francisco,94109,13,5,1

In [62]:
label = LabelEncoder()
df2['zipcode_of_incident'] = label.fit_transform(df2['zipcode_of_incident'])

C:\Users\shami\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [63]:
df2

,call_type,received_timestamp,city,zipcode_of_incident,hour,day,day_half
0,Medical Incident,2018-01-24 17:36:16,San Francisco,15,17,2,1
1,Medical Incident,2018-01-24 07:05:05,San Francisco,1,7,2,0
2,Medical Incident,2018-01-24 02:04:21,San Francisco,16,2,2,0
3,Alarms,2018-01-24 20:04:15,San Francisco,6,20,2,1
4,Alarms,2018-01-24 20:03:08,San Francisco,4,20,2,1
5,Alarms,2018-01-24 21:18:56,San Francisco,7,21,2,1
6,Structure Fire,2018-01-24 12:24:27,San Francisco,0,12,2,1
7,Traffic Collision,2018-01-24 19:51:29,San Francisco,1,19,2,1
8,Alarms,2018-01-24 22:26:22,San Francisco,24,22,2,1
9,Medical Incident,2018-01-24 10:35:00,San Francisco,25,10,2,0
10,Medical Incident,2018-01-24 12:53:39,San Francisco,0,12,2,1
11,Medical Incident,2018-01-24 14:36:16,San Francisco,8,14,2,1
12,Medical Incident,2018-01-24 17:56:16,San Francisco,10,17,2,1
13,Medical Incident,2018-01-24 16:48:13,San Francisco,1,16,2,1
14,Medical Incident,2018-01-24 19:41:44,San Francisco,7,19,2,1
15,Structure Fire,2018-01-24 00:19:30,San Francisco,6,0,2,0
16,Medical Incident,2018-01-24 12:08:29,San Francisco,1,12,2,1
17,Medical Incident,2018-01-24 14:54:21,San Francisco,22,14,2,1
18,Medical Incident,2018-01-24 21:42:22,San Francisco,13,21,2,1
19,Structure Fire,2018-01-24 12:24:27,San Francisco,0,12,2,1
20,Medical Incident,2018-01-24 14:10:45,San Francisco,1,14,2,1
21,Medical Incident,2018-01-24 10:40:14,San Francisco,4,10,2,0
22,Medical Incident,2018-01-24 11:52:30,San Francisco,13,11,2,0
23,Medical Incident,2018-01-24 14:51:27,San Francisco,24,14,2,1
24,Medical Incident,2018-01-24 08:50:47,San Francisco,0,8,2,0
25,Medical Incident,2018-01-24 15:31:54,San Francisco,13,15,2,1
26,Medical Incident,2018-01-24 13:19:28,San Francisco,0,13,2,1
27,Other,2018-01-24 19:07:16,San Francisco,25,19,2,1
28,Medical Incident,2018-01-24 03:14:26,San Francisco,7,3,2,0
29,Medical Incident,2018-01-24 11:59:40,San Francisco,0,11,2,0
...,...,...,...,...,...,...,...
9970,Medical Incident,2018-01-13 15:51:50,San Francisco,10,15,5,1
9971,Medical Incident,2018-01-13 04:07:51,San Francisco,12,4,5,0
9972,Traffic Collision,2018-01-13 13:57:05,San Francisco,25,13,5,1
9973,Medical Incident,2018-01-13 18:34:20,San Francisco,0,18,5,1
9974,Medical Incident,2018-01-13 09:24:39,San Francisco,9,9,5,0
9975,Medical Incident,2018-01-13 13:03:23,San Francisco,4,13,5,1
9976,Medical Incident,2018-01-13 10:28:41,San Francisco,26,10,5,0
9977,Medical Incident,2018-01-13 08:28:10,San Francisco,24,8,5,0
9978,Medical Incident,2018-01-13 11:37:39,San Francisco,18,11,5,0
9979,Medical Incident,2018-01-13 20:33:54,San Francisco,11,20,5,1
9980,Structure Fire,2018-01-13 06:45:11,San Francisco,1,6,5,0
9981,Medical Incident,2018-01-13 18:34:20,San Francisco,0,18,5,1
9982,Traffic Collision,2018-01-13 02:52:48,San Francisco,21,2,5,0
9983,Medical Incident,2018-01-13 14:07:21,San Francisco,17,14,5,1
9984,Medical Incident,2018-01-13 20:46:37,San Francisco,1,20,5,1
9985,Medical Incident,2018-01-13 18:29:44,San Francisco,18,18,5,1
9986,Medical Incident,2018-01-13 14:14:17,San Francisco,7,14,5,1
9987,Medical Incident,2018-01-13 07:28:39,San Francisco,14,7,5,0
9988,Medical Incident,2018-01-13 12:41:29,San Francisco,16,12,5,1
9989,Medical Incident,2018-01-13 11:09:14,San Francisco,5,11,5,0
9990,Other,2018-01-13 07:21:40,San Francisco,10,7,5,0
9991,Medical Incident,2018-01-13 02:44:30,San Francisco,13,2,5,0
9992,Traffic Collision,2018-01-13 23:39:49,San Francisco,1,23,5,1
9993,Medical Incident,2018-01-13 14:23:06,San Francisco,7,14,5,1
9994,Medical Incident,2018-01-13 23:26:46,San Francisco,12,23,5,1
9995,Medical Incident,2018-01-13 00:48:33,San Francisco,7,0,5,0
9996,Medical Incident,2018-01-13 09:26:55,San Francisco,6,9,5,0
9997,Medical Incident,2018-01-13 14:09:05,San Francisco,1,14,5,1
9998,Water Rescue,2018-01-13 16:12:05,San Francisco,17,16,5,1
9999,Medical Incident,2018-01-13 13:17:25,San Francisco,6,13,5,1