In [1]:
# Imports 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Display full column widths to read schema descriptions
pd.options.display.max_colwidth = 200

In [2]:
# Read in data and convert to pandas dataframes 
df = pd.read_csv('sfpd-dispatch/sfpd_dispatch_data_subset.csv')
schema_df = pd.read_csv('sfpd-dispatch/sfpd_dispatch_schema.csv')
# Preview first 5 samples 
df.head()

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,number_of_alarms,unit_type,unit_sequence_in_call_dispatch,fire_prevention_district,supervisor_district,neighborhood_district,location,row_id,latitude,longitude
0,180243072,84,18010216,Medical Incident,2018-01-24,2018-01-24,2018-01-24 17:36:16.000000 UTC,2018-01-24 17:38:21.000000 UTC,2018-01-24 17:39:41.000000 UTC,2018-01-24 17:39:45.000000 UTC,...,1,MEDIC,1,7,1,NaN,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679
1,180240538,61,18010011,Medical Incident,2018-01-24,2018-01-23,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:31.000000 UTC,2018-01-24 07:05:45.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001
2,180240176,E22,18009959,Medical Incident,2018-01-24,2018-01-23,2018-01-24 02:04:21.000000 UTC,2018-01-24 02:05:37.000000 UTC,2018-01-24 02:06:04.000000 UTC,2018-01-24 02:07:26.000000 UTC,...,1,ENGINE,1,8,7,NaN,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540
3,180243588,E03,18010271,Alarms,2018-01-24,2018-01-24,2018-01-24 20:04:15.000000 UTC,2018-01-24 20:05:12.000000 UTC,2018-01-24 20:05:24.000000 UTC,2018-01-24 20:05:36.000000 UTC,...,1,ENGINE,1,4,2,NaN,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163
4,180243590,B03,18010272,Alarms,2018-01-24,2018-01-24,2018-01-24 20:03:08.000000 UTC,2018-01-24 20:05:36.000000 UTC,2018-01-24 20:05:57.000000 UTC,2018-01-24 20:06:56.000000 UTC,...,1,CHIEF,3,3,6,NaN,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089

In [3]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyDlov3pAFl2CsK_q0F6AT-lHfcdIopiR7Y") # Your Google API key

In [13]:
"""
Function make_heatmap: Returns heatmap from Google Maps API. 
Input: DataFrame Object with 'latitude', 'longitude' columns
"""
def make_heatmap(df): 
    loc_tuples = [(x, y) for x, y in zip(df['latitude'], df['longitude'])]
    fig = gmaps.figure()
    fig.add_layer(gmaps.heatmap_layer(loc_tuples))
    return fig

In [14]:
# Full Data
make_heatmap(df)

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Fires
make_heatmap(df[df['call_type'] == 'Structure Fire'])

Figure(layout=FigureLayout(height='420px'))

In [17]:
make_heatmap(df[df['call_type'] == 'Medical Incident'])

Figure(layout=FigureLayout(height='420px'))

In [18]:
make_heatmap(df[df['call_type'] == 'Alarms'])

Figure(layout=FigureLayout(height='420px'))

In [21]:
make_heatmap(df[df['call_type'] == 'Outside Fire'])

Figure(layout=FigureLayout(height='420px'))

In [22]:
time_columns = ['received_timestamp', 'entry_timestamp', 'dispatch_timestamp', 'response_timestamp', 'on_scene_timestamp', 
'transport_timestamp', 'hospital_timestamp', 'available_timestamp'] 
# Here we apply a lambda expression to each pandas column to remove the 'UTC', and then we use the to_datetime function in 
# pandas to convert the types to python Timestamps instead of strings. This allows us to perform new operations. 
for col in time_columns:
    df[col] = pd.to_datetime(df[col].astype(str).apply(lambda x: x[:-3]), format='%Y-%m-%d %H:%M:%S.%f')

df['hour'] = df['received_timestamp'].apply(lambda x: x.hour)
df['day'] = df['received_timestamp'].apply(lambda x: x.weekday_name)
df.head()

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,unit_sequence_in_call_dispatch,fire_prevention_district,supervisor_district,neighborhood_district,location,row_id,latitude,longitude,hour,day
0,180243072,84,18010216,Medical Incident,2018-01-24,2018-01-24,2018-01-24 17:36:16,2018-01-24 17:38:21,2018-01-24 17:39:41,2018-01-24 17:39:45,...,1,7,1,NaN,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679,17,Wednesday
1,180240538,61,18010011,Medical Incident,2018-01-24,2018-01-23,2018-01-24 07:05:05,2018-01-24 07:05:05,2018-01-24 07:05:31,2018-01-24 07:05:45,...,1,2,6,NaN,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001,7,Wednesday
2,180240176,E22,18009959,Medical Incident,2018-01-24,2018-01-23,2018-01-24 02:04:21,2018-01-24 02:05:37,2018-01-24 02:06:04,2018-01-24 02:07:26,...,1,8,7,NaN,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540,2,Wednesday
3,180243588,E03,18010271,Alarms,2018-01-24,2018-01-24,2018-01-24 20:04:15,2018-01-24 20:05:12,2018-01-24 20:05:24,2018-01-24 20:05:36,...,1,4,2,NaN,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163,20,Wednesday
4,180243590,B03,18010272,Alarms,2018-01-24,2018-01-24,2018-01-24 20:03:08,2018-01-24 20:05:36,2018-01-24 20:05:57,2018-01-24 20:06:56,...,3,3,6,NaN,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089,20,Wednesday

In [24]:
def assign_day_portion(x): 
    if (x >= 0 and x <= 7) or (x == 24): # 0:00 to 7:00 (AM) - Night Hours
        return '12 AM to 7 AM' 
    if x >= 8 and x <= 15: # 8 AM to 3 PM - Morning to Late Afternoon
        return '8 AM to 3 PM'
    if x >= 16 and x < 24: # 4 PM to 11 PM - Evening to Midnight
        return '4 PM to 11 PM'
    
df['day_portion'] = df['hour'].apply(assign_day_portion)
df.head()

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,fire_prevention_district,supervisor_district,neighborhood_district,location,row_id,latitude,longitude,hour,day,day_portion
0,180243072,84,18010216,Medical Incident,2018-01-24,2018-01-24,2018-01-24 17:36:16,2018-01-24 17:38:21,2018-01-24 17:39:41,2018-01-24 17:39:45,...,7,1,NaN,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679,17,Wednesday,4 PM to 11 PM
1,180240538,61,18010011,Medical Incident,2018-01-24,2018-01-23,2018-01-24 07:05:05,2018-01-24 07:05:05,2018-01-24 07:05:31,2018-01-24 07:05:45,...,2,6,NaN,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001,7,Wednesday,12 AM to 7 AM
2,180240176,E22,18009959,Medical Incident,2018-01-24,2018-01-23,2018-01-24 02:04:21,2018-01-24 02:05:37,2018-01-24 02:06:04,2018-01-24 02:07:26,...,8,7,NaN,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540,2,Wednesday,12 AM to 7 AM
3,180243588,E03,18010271,Alarms,2018-01-24,2018-01-24,2018-01-24 20:04:15,2018-01-24 20:05:12,2018-01-24 20:05:24,2018-01-24 20:05:36,...,4,2,NaN,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163,20,Wednesday,4 PM to 11 PM
4,180243590,B03,18010272,Alarms,2018-01-24,2018-01-24,2018-01-24 20:03:08,2018-01-24 20:05:36,2018-01-24 20:05:57,2018-01-24 20:06:56,...,3,6,NaN,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089,20,Wednesday,4 PM to 11 PM

In [29]:
make_heatmap(df[df['day_portion'] == '4 PM to 11 PM'])

Figure(layout=FigureLayout(height='420px'))