In [1]:
# Imports 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Display full column widths to read schema descriptions
pd.options.display.max_colwidth = 200

In [2]:
# Read in data and convert to pandas dataframes 
df = pd.read_csv('sfpd-dispatch/sfpd_dispatch_data_subset.csv')
schema_df = pd.read_csv('sfpd-dispatch/sfpd_dispatch_schema.csv')
# Preview first 5 samples 
df.head()

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,number_of_alarms,unit_type,unit_sequence_in_call_dispatch,fire_prevention_district,supervisor_district,neighborhood_district,location,row_id,latitude,longitude
0,180243072,84,18010216,Medical Incident,2018-01-24,2018-01-24,2018-01-24 17:36:16.000000 UTC,2018-01-24 17:38:21.000000 UTC,2018-01-24 17:39:41.000000 UTC,2018-01-24 17:39:45.000000 UTC,...,1,MEDIC,1,7,1,NaN,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679
1,180240538,61,18010011,Medical Incident,2018-01-24,2018-01-23,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:31.000000 UTC,2018-01-24 07:05:45.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001
2,180240176,E22,18009959,Medical Incident,2018-01-24,2018-01-23,2018-01-24 02:04:21.000000 UTC,2018-01-24 02:05:37.000000 UTC,2018-01-24 02:06:04.000000 UTC,2018-01-24 02:07:26.000000 UTC,...,1,ENGINE,1,8,7,NaN,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540
3,180243588,E03,18010271,Alarms,2018-01-24,2018-01-24,2018-01-24 20:04:15.000000 UTC,2018-01-24 20:05:12.000000 UTC,2018-01-24 20:05:24.000000 UTC,2018-01-24 20:05:36.000000 UTC,...,1,ENGINE,1,4,2,NaN,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163
4,180243590,B03,18010272,Alarms,2018-01-24,2018-01-24,2018-01-24 20:03:08.000000 UTC,2018-01-24 20:05:36.000000 UTC,2018-01-24 20:05:57.000000 UTC,2018-01-24 20:06:56.000000 UTC,...,1,CHIEF,3,3,6,NaN,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089

In [3]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyDlov3pAFl2CsK_q0F6AT-lHfcdIopiR7Y") # Your Google API key

In [4]:
loc_tuples = [(x, y) for x, y in zip(df['latitude'], df['longitude'])]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(loc_tuples))
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
"""
Function make_heatmap: Returns heatmap from Google Maps API. 
Input: List of Tuples [(Lat, Long)]
ex: loc_tuples = [(x, y) for x, y in zip(df['latitude'], df['longitude'])]
"""
df make_heatmap(locations): 
    fig = gmaps.figure()
    fig.add_layer(gmaps.heatmap_layer(loc_tuples))
    fig
    return

SyntaxError: invalid syntax (<ipython-input-6-668016c45b33>, line 6)